[Desktop Entry]
Type=Application
Name=Up2Git
Comment=GitHub File Uploader with keyboard shortcuts
Exec=/home/jie/Github/Up2Git/autostart.sh
Icon=/home/jie/Github/Up2Git/icons/icon_cloud_upload.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
